.container {
  width: 70%;
  margin: 0 auto;
}

.container > .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #f1f3f4;
}

.container > .head h1 {
  font-weight: 600;
  font-size: 1.5em;
}
.container > .head > .button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 8px;
  background-color: #19d800;
  color: white;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0px 0px 15px -2px #16c000;
  transition: 0.3s all;
}

.container > .head > .button:hover {
  background-color: #16c000;
  box-shadow: 0px 0px 20px -2px #16c000;
}

.container > .cardContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 0;
}

.container > .cardContainer > .categoryName {
  font-size: 1.4em;
  font-weight: 600;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container > .cardContainer > .categoryName > .setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 70px;
  justify-content: space-between;
}

.container > .cardContainer > .groups {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.container > .cardContainer > .groups > .card {
  width: 29.33%;
  margin: 2%;
  font-size: 3em;
  padding: 40px 0;
  border-radius: 10px;
  box-shadow: 0px 2px 16px 0px rgb(0, 0, 0, 0.25);
  transition: 00.3s all;
  min-width: 200px;
  position: relative;
}

.container > .cardContainer > .groups > .card > .delete {
  display: none;
}

.container > .cardContainer > .groups > .card:hover {
  box-shadow: 0px 0px 25px -7px rgb(88, 88, 88);
  transform: scale(1.08);
}

.container > .cardContainer > .groups > .card:hover > .delete {
  top: 0px;
  right: 10px;
  position: absolute;
  display: block;
  cursor: pointer;
}

.container > .cardContainer > .groups > .card > .num {
  padding: 0 10px;
}
.text {
  font-size: 0.5em;
}

@media screen and (max-width: 980px) {
  .container > .cardContainer > .groups > .card {
    width: 45%;
  }
}

@media screen and (max-width: 625px) {
  .container > .cardContainer > .groups > .card {
    width: 95%;
  }
}
